/*
selectors:{
    Property:value;
}
*/

/*element selector-tags->elements*/
h1{
    color: brown;
}
/*class*/
.highlight{
    color: rgb(210, 157, 222);
}
/*id*/
#main{
    color: rgb(15, 15, 15);
    border: 2px dotted ;
    text-align: center;
}
/*group*/
h1,p{
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
}
/*colors*/
.color{
    color:rgb(0, 0, 0);
    border: dashed;
    background-color: rgb(191, 211, 211);
}
/*fonts*/
body{
    font-family: 'Times New Roman', Times, serif;
    font-size:x-large;
    font-weight:bold;
    background-color: rgb(121, 5, 78);
}
/*highlight*/
h1{
    text-align: justify;
}